In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
inputs = df.drop(['Survived'],axis='columns')
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
659       2    male  28.0  10.5000
660       3  female  39.0  29.1250
661       1  female  19.0  30.0000
662       1    male  26.0  30.0000
663       3    male  32.0   7.7500

[664 rows x 4 columns]

In [5]:
target = df['Survived']
target

0      0
1      1
2      1
3      1
4      0
      ..
659    0
660    0
661    1
662    1
663    0
Name: Survived, Length: 664, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()

In [7]:
inputs['sex_new'] = le_sex.fit_transform(inputs['Sex'])

In [10]:
input_new = inputs.drop(['Sex'],axis='columns')
input_new

     Pclass   Age     Fare  sex_new
0         3  22.0   7.2500        1
1         1  38.0  71.2833        0
2         3  26.0   7.9250        0
3         1  35.0  53.1000        0
4         3  35.0   8.0500        1
..      ...   ...      ...      ...
659       2  28.0  10.5000        1
660       3  39.0  29.1250        0
661       1  19.0  30.0000        0
662       1  26.0  30.0000        1
663       3  32.0   7.7500        1

[664 rows x 4 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(input_new,target,test_size=0.2)

In [12]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [13]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [14]:
model.score(x_test,y_test)

0.7593984962406015